
<div class="mb-4 mt-5">
    <h4 class="text-center">Inventario</h4>
</div>
<div class="d-flex justify-content-end mb-3">
    <button type="button" class="btn btn-info" onClick="window.location.reload();">Actualizar</button>
</div>
<div>
    <table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Rack</th>
        <th scope="col">Producto</th>
        <th scope="col">Usuario</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Lecturas</th>
        <th scope="col">Fecha hora última lectura</th>
        </tr>
    </thead>
    <tbody>
        {{#each rack_productos}}
            <tr>
                <th scope="row">{{math @index "+" 1}}</th>
                <td>{{this.rack.descripcion}}</td>
                <td>{{this.producto.descripcion}}</td>
                <td>{{this.usuario.nombre}}</td>
                <td>{{this.total}}</td>
                <td>{{this.marcas}}</td>
                 <td>{{this.fecha_hora_ultima_marca}}</td>
            </tr>
        {{/each}}
    </tbody>
    </table>
</div>